{
  "qq": "",
  "master": "",
  "host": "http://127.0.0.1",
  "port": 8888,
  "group_blacklist": [],
  "friend_blacklist": [],
  "blocked_users": [],
  "webhook": false,
  "webhook_post_url": "http://127.0.0.1:5000",
  "webhook_timeout": 20,
  "ip_tracker_api": "",
  "baidu_ocr_app_id": "fake",
  "baidu_ocr_api_key": "fake",
  "baidu_ocr_secret_key": "fake",
  "autorevoke_keyword": "revoke"
}
